.ListAnimals {
	
}

.ListAnimals > table {
    margin: 50px auto;
}

.ListAnimals table, .ListAnimals th, .ListAnimals td{
    border : 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

.ListAnimals tr:nth-child(even){
    background-color: lightblue;
}

.ListAnimals tr:nth-child(odd){
    background-color: lightgreen;
}

.ListAnimals thead tr:first-child{
    background-color: gray;
}