/* הגדרות מסך ראשי */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-style: italic;
  color: wheat;
  background-image: linear-gradient(-45deg, purple, rgb(25, 4, 66));
}

.layout {
  height: 100%;
  /* lets use gird :) */
  box-sizing: border-box; /* fix css size bug/feature....  */
  display: grid;
  grid-template-rows: 15% 80% 5%;
  grid-template-columns: repeat(6, 1fr);
}
.layout > header,
.layout > footer {
  grid-column: span 6;
}

.roundBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.layout > main {
  grid-column: span 5;
  padding: 20px;
}

.layout,
.layout > * {
  border: 1px solid white;
}

#box1 {
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#box2 {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#box3 {
  border-radius: 25px;
  background: url(img/paper.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
  color: black;
}

#box1img {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(img/border.png) 30 round;
}
#box2img {
  border: 30px solid transparent;
  padding: 15px;
  border-image: url(img/border.png) 30;
}

/* animations */
@keyframes zeev {
  from {
    background-color: blue;
  }
  to {
    background-color: red;
  }
}

@keyframes zeev2 {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  /*
  50% {
    background-color: red;
  }
  75% {
    background-color: blue;
  }
  */
}
#box3img {
  border-radius: 25px;
  background: red;
  padding: 20px;
  width: 200px;
  height: 150px;
  animation-name: zeev2;
  animation-duration: 1s;
  /*animation-iteration-count: 5;*/
  animation-iteration-count: infinite;
}
